<div id="body">
  <div #content class="tableContent">
    <div class="heading">
      <h5>Home (Dashboard)</h5>
    </div>

    <div class="radio-btns radio">

      <label class="color radiolft" for="amtRupees"><input class="AmountStyle amtRupees" type="radio" id="amtRupees"
          value="Amount in Rupees" name="Amount" [(ngModel)]='radioValue2' (change)="onItemChange(radioValue2)" />Amount
        in Rupees</label>
      &nbsp;

      <label class="color radiolft" for="amtCrores"><input class="AmountStyle amtCrores" type="radio" id="amtCrores"
          value="Amount in Crores" name="Amount" [(ngModel)]='radioValue2' (change)="onItemChange(radioValue2)" />Amount
        in Crores </label>

    </div>
    <div class="icon">
      <a (click)="onRefreshClick()"> <img src="assets/img/refresh.png" class="refresh"></a>
      <a (click)="onExcelDownload()"> <img src="assets/img/excel.png" class="excel"></a>
      <a (click)="onPDFDownload()"> <img src="assets/img/pdf.png" class="excel"></a>
    </div>
    <br />
    <div>
      <div class="tbla">

        <div class="tblb">

          <div class="tblc">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="heads">
                <th class="sr mat-header-cell" *matHeaderCellDef> Heads </th>
                <td class="right mat-cell" *matCellDef="let element"> {{element.heads}} </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th class="numberPadding mat-header-cell" *matHeaderCellDef> Amount </th>
                <td class="numberPadding mat-cell" *matCellDef="let element"> <a
                    *ngIf="element.heads.trim() === 'Actual Interest Paid' ; else elsePart"
                    (click)="openDialogIntTable()" href="javascript:void(0);" class="tblcount">{{element.amount |
                    customCurrencyPipe}}</a>
                  <ng-template #elsePart>{{element.amount | customCurrencyPipe}}</ng-template>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="tbld">
            <table mat-table [dataSource]="dataSources" class="mat-elevation-z8 ;">

              <ng-container matColumnDef="accounttype">
                <th class="sr mat-header-cell" *matHeaderCellDef> Account Type </th>
                <td class="right mat-cell" *matCellDef="let element"> {{element.accounttype}} </td>
              </ng-container>

              <ng-container matColumnDef="totalcount">
                <th class="numberPadding mat-header-cell" *matHeaderCellDef> Total Count </th>
                <td class="numberPadding mat-cell" *matCellDef="let element"><a routerLink="/main/account"
                    class="tblcount"> {{element.totalcount}} </a> </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>