<div id="body">
  <div class="zonetitlePadding">
    <div>
      <h5>Zone</h5>
    </div>
    <div class="radio-btns floatright">
      <input type="radio" class="AmountStyle with-gap displayInline" value="Amount in Rupees" name="Amount"
        [(ngModel)]='radioValue2' (change)="onItemChange(radioValue2)" />
      <label class="color marginlefttwo" for="test1">Amount in Rupees</label>

      <input type="radio" class="AmountStyle displayInline marginleftfifteen" value="Amount in Crores"
        name="Amount" [(ngModel)]='radioValue2' (change)="onItemChange(radioValue2)" />
      <label class="color marginlefttwo" for="test2">Amount in Crores </label>
    </div>
    <div class="widthFull floatright">
      <a (click)="onRefreshClick()">  <img  src="assets/img/refresh.png" class=excel></a>
      
      <a (click)="onExcelDownload()">  <img  src="assets/img/excel.png" class=refresh></a>
    </div>
  </div>
  <br />

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

      <ng-container matColumnDef="zone">
        <th class="sr mat-header-cell" *matHeaderCellDef> Zone </th>
        <td class="right mat-cell" *matCellDef="let element"> {{element.zone}} </td>
      </ng-container>

      <ng-container matColumnDef="noofpd">
        <th class="sr mat-header-cell" *matHeaderCellDef> No. of Project Directors </th>
        <td class="right mat-cell" *matCellDef="let element">
          <div *ngIf="element.zone=='ALL'">
            {{element.numberOfPanelDetails}}
          </div>
          <div *ngIf="element.zone != 'ALL'">
            <a class="itc-lb-more-info-link" (click)="getProjectDirectors(element.zone)">
              {{element.numberOfPanelDetails}}
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="noofchildacc">
        <th class="sr mat-header-cell" *matHeaderCellDef> No. of Child Accounts </th>
        <td class="right mat-cell" *matCellDef="let element">
          <div *ngIf="element.zone!='ALL'">
            <a class="itc-lb-more-info-link" 
              (click)="getSubSidiaryAct(element.zone)">
              {{element.numberOfSubsdiaryAccount}}
            </a>
          </div>
          <div *ngIf="element.zone=='ALL'">
            {{element.numberOfSubsdiaryAccount}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="totallimit">
        <th class="numberPadding mat-header-cell" *matHeaderCellDef> Total Limit </th>
        <td class="numberPadding mat-cell" *matCellDef="let element"> {{element.totalLimit | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="usedlimit">
        <th class="numberPadding mat-header-cell" *matHeaderCellDef> Used Limit </th>
        <td class="numberPadding mat-cell" *matCellDef="let element">{{element.usedLimit | customCurrencyPipe}}</td>
      </ng-container>

      <ng-container matColumnDef="fundsused">
        <th class="numberPadding mat-header-cell" *matHeaderCellDef> Fund Used (%) </th>
        <td class="numberPadding mat-cell" *matCellDef="let element"> {{element.fundUsedPercentage | customCurrencyPipe}} % </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>